//Main

//Aside
.aside__area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 288px;
}

.aside_menu {
    background-color: rgb(39, 39, 42);
    border-radius: 8px;
 a{
    display: flex;
    align-items: center;
    padding: 12px;
    gap: 12px;
 }
}

.aside_item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    a{
        display: flex;
        border-radius: 4px;
        align-items: center;
        gap: 16px;
        padding: 8px;
        overflow: hidden;
    }
}